<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583767453466-76jgmbgv7fpsa0072c5lhv5m7avsjrtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583767453466-76jgmbgv7fpsa0072c5lhv5m7avsjrtd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583767453466-nb7fe2fqlvql54m24potsmoa8iie5s23.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHmOe-4IM9M8IMEPBtymVYvnJG3B5kCWw</string>
	<key>GCM_SENDER_ID</key>
	<string>583767453466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deinunternehmen.passfit</string>
	<key>PROJECT_ID</key>
	<string>fitnesspass-a54cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesspass-a54cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583767453466:ios:ad77e6a7f4a80a2b4106a3</string>
	<key>DATABASE_URL</key>
	<string>https://fitnesspass-a54cb-default-rtdb.firebaseio.com</string>
</dict>
</plist>